/* Загальні стилі */
body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #fff;
}
ul {
    list-style-type: none;
    padding-inline-start: 0;
}
address {
    font-style: normal;
}
a {
    text-decoration: none;
}

img {
    display: block;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }


/* Стилі Хедер */


.header-conteiner {
    display: flex;
    align-items: center;
}

.header-nav {
    display: flex;
    align-items: center;
    flex-grow: 1;
    padding-left: 156px;
}


.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    margin-right: 76px;
}

.logo-element {
    color: #2e2f42;
}

.header-menu-list {
    display: flex;
    gap: 40px;
}

.menu-item {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.menu-item:hover {
    color: #404BBF;
}

.studio-li .menu-item:focus {
    color: #404BBF;
}

.address-list {
    display: flex;
    gap: 40px;
    margin-right: 156px;
}

.address .address-item {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.address .address-item:hover {
    color: #404BBF;
}

.address .address-item:focus {
    color: #404BBF;
}

/*                      Стилі боді                      */

.section-heading {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
    text-align: center;
}

        /* секція Головного заголовка */
.title-box {
    background-color: #2e2f42;
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    gap: 48px;
    padding: 188px 0;
    height: 600px;
}

.main-title {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
    margin: auto;
    width: 496px;
    height: 120px;
}

.button {
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    background-color: #4D5AE5;
    color: #FFFFFF;
    cursor: pointer;
    border: none;
    padding: 16px 32px;
    border-radius: 4px;
}

.button:hover {
    background-color: #404BBF;
}

.button:focus {
    background-color: #404BBF;
}

        /* секція Послуги */

.features {
    padding: 120px 156px;
}

.features-list {
    display: flex;
    gap: 8px;
}

.features-items {
    flex-basis: calc((100% - 24px) / 4);
}
        
.categories-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.categories-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

        /* секція Наша команда */

.section-our-team {
    background-color: #F4F4FD;
    padding: 120px 156px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}

.team-list {
    display: flex;
    gap: 24px;
    margin-top: 120px;
}

.timets-box {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: center;
    gap: 32px;
    border-radius: 0 0 4px 4px;
    padding: 0px 0px 32px 0px;
}

.team-list-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 8px;
    width: 232px;
    height: 56px;
    padding: 32px 16px;
}

.timets-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin: 0;
}

.timets-skill {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    margin: 0;
}

        /* секція Продукти */

.portfolio-section {
    padding: 120px 156px;
}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    gap: 48px 24px;
}

.portfolio-items-content {
    border-bottom: 1px solid #e7e9fc;
    border-left: 1px solid #e7e9fc;
    border-right: 1px solid #e7e9fc;
    padding: 32px 16px;
    width: 360px;
    height: 120px;
}

.products-heading {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.about-products {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}


/*            Стилі футер             */

.footer-box {
    background-color: #2e2f42;
}

.footer-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.footer-logo-element {
    color: #f4f4fd;
}

.footer-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
}